<div class="cart">
    <h2 class="cart-title">Shopping cart</h2>

    <div class="items" *ngIf="purchasedItems.length > 0">
        <div *ngFor="let product of purchasedItems; let i = index" class="item">
            <img [src]="product.image" class="item-img">
            <p class="item-name">{{product.name}}</p>
            <p class="item-quantity">{{product.purchasedQuantity}} kg</p>
            <p>{{product.price}} den x {{product.purchasedQuantity}} kg = {{product.price * product.purchasedQuantity}} den</p>
        
            <mat-icon (click)="removeItem(i)">highlight_off</mat-icon>
        </div>
    </div>

    <div class="total" *ngIf="purchasedItems.length > 0">
        <p>Total : <b>{{calculateTotal()}} den</b></p>
    </div>

    <p *ngIf="purchasedItems.length < 1" class="empty-message">Shopping cart is empty</p>
</div>