.cart {
    background-color: lightblue;
    width: 100%;
    height: calc(100% - 40px);
    padding: 20px 0;
    overflow-y: hidden;
}

.item-img {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    position: relative;
    top: 15px;
    margin-right: 10px;
}

.item-name {
    display: inline-block;
    margin-right: 10px;
}

.item-quantity {
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 30px;
}

.item {
    padding: 10px;
    border-bottom: 1px solid black;
    position: relative;
}

.cart-title {
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
    height: 50px;
}

.empty-message {
    text-align: center;
    opacity: 0.5;
}

.total {
    height: 50px;
}

.items {
    height: calc(100% - 100px);
    overflow-y: auto;
    background-color: #deeff4;
}

mat-icon {
    position: absolute;
    right: 10px;
    bottom: 20px;
    color: red;
    cursor: pointer;
}