<button mat-raised-button color="warn" [routerLink]="['/shop']">Back</button>

<h3>Add new product</h3>

<div class="form">
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" (input)="newProduct.name = $event.target.value">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <input matInput type="text" (input)="newProduct.image = $event.target.value">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput type="number" (input)="newProduct.price = $event.target.value">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" (input)="newProduct.quantity = $event.target.value">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Sold</mat-label>
        <input matInput type="number" (input)="newProduct.sold = $event.target.value">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
    <mat-label>Growth</mat-label>
    <mat-select [(ngModel)]="newProduct.growth">
        <mat-option value="0">Vegetable</mat-option>
        <mat-option value="1">Fruit</mat-option>
    </mat-select>
    </mat-form-field>   
    
    <button mat-raised-button color="primary" (click)="saveProduct()">Save</button>
</div>