.form {
    width: 50%;
    margin: auto;
    background-color: rgb(127, 196, 196);
    padding: 30px;
    text-align: right;
}

.mat-form-field {
    display: block;
}

:host::ng-deep.mat-form-field-outline {
    background-color: white !important;
}

h3 {
    text-align: center;
}