<div [style.display]="'flex'" class="header">
    <div class="filter-box">
        <p>Card design</p>
    
        <input type="radio" name="cardstyle" value="dark" (click)="cardDesign = 'dark'"> Dark
        <input type="radio" name="cardstyle" value="light" (click)="cardDesign = 'light'"> Light
        <input type="radio" name="cardstyle" value="white" (click)="cardDesign = 'white'"> White
    </div>
    
    <div class="filter-box">
        <p>Card title font size</p>
    
        <select [(ngModel)]="fontSize">
            <option value="14">14px</option>
            <option value="18">18px</option>
            <option value="22">22px</option>
        </select>
    </div>

    <div class="filter-box">
        <button mat-raised-button color="warn" [routerLink]="['/add-product']">Add new product</button>

        <button mat-raised-button color="warn" (click)="addProductDialog()">Add new product (dialog)</button>
    </div>
</div>


<div class="content">
    <div class="cards">
        <div *ngFor="let product of productList" class="product-grid">
            <app-card [product]="product" [cardDesign]="cardDesign" [fontSize]="fontSize" (productList)="updateList($event)"></app-card>
        </div>
    </div>
    <div class="shopping-cart">
        <app-shopping-cart [shoppingCart]="productList"></app-shopping-cart>
    </div>
</div>



