.product-grid {
    width: calc(25% - 30px);
    margin: 15px;
    float: left;
}

.filter-box {
    width: 300px;
    border-left: 1px solid black;
    padding: 20px;
}

.content {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.cards {
    width: 80%;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.shopping-cart {
    width: 20%;
    height: calc(100% - 110px);
    overflow-y: auto;
}

.header {
    background-color: #8dd1e1;
}

.shopping-cart {
    overflow-y: hidden;
}