<div class="card" [appCardDesign]="cardDesign">
    <img [src]="product.image" class="card-img">

    <p class="card-title" [style.fontSize.px]="fontSize">{{product.name}}</p>

    <p>{{product.price}} den</p>

    <p>{{product.quantity - product.sold > 0 ? 'Available ' + (product.quantity - product.sold) + ' kg' : 'Sold'}}</p>

    <div class="quantity">
        <button class="quantity-btn" (click)="decreaseQuantity()" [disabled]="quantity == 0"> - </button>
            <p class="quantity-number">{{quantity}}</p>
        <button class="quantity-btn" (click)="increaseQuantity()" [disabled]="quantity == (product.quantity - product.sold)"> + </button>
    </div>
   
    <button mat-raised-button color="accent" class="buy-button" [disabled]="quantity == 0 && (product.quantity - product.sold) == 0" (click)="buy()">Buy</button>
</div>