.card {
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.card-img {
    width: 50%;
    border-radius: 50%;
}

.quantity {
    width: 200px;
    margin: auto;
}

.quantity-btn {
    width: 50px;
    display: inline-block;
}

.quantity-number {
    display: inline-block;
    width: calc(100% - 130px);
    margin-left: 10px;
    margin-right: 10px;
}

.buy-button {
    width: 100px;
}