<p mat-dialog-title>Add new product</p>

<div mat-dialog-content [formGroup]="productFormGroup">

    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
        <mat-error>Name is requared!</mat-error>
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Image</mat-label>
        <input matInput type="text" formControlName="image">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Quantity</mat-label>
        <input matInput type="number" formControlName="quantity">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
        <mat-label>Sold</mat-label>
        <input matInput type="number" formControlName="sold">
    </mat-form-field>
    
    <mat-form-field appearance="outline">
    <mat-label>Growth</mat-label>
    <mat-select formControlName="growth">
        <mat-option value="0">Vegetable</mat-option>
        <mat-option value="1">Fruit</mat-option>
    </mat-select>
    </mat-form-field>   

</div>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close (click)="_dialogRef.close()" color="accent">Close</button>

    <button mat-raised-button (click)="saveProduct()" color="primary" [disabled]="productFormGroup.invalid">Save</button>
</mat-dialog-actions>